fastapi
uvicorn
sqlalchemy
pydantic
openai-whisper
textblob
python-multipart
transformers
torch
noisereduce
librosa
soundfile
pyannote.audio
torchaudio
python-dotenv
passlib[bcrypt]\npython-jose[cryptography]\nbcrypt
